/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}


.gameBody {
    display: table;
    margin-left: 30%;
    
    border: solid;
    
    text-align: center;
    table-layout: fixed;

}

.startNewButton{
    margin-top: 5%;
    margin-left: 35%;
    cursor: pointer;
    
}

.localButtons{

    height: 50px;
    width: 50px;
    color: red;
    background-color: black;

}




